/bin/
/project/target
/project/project
/target/

.project
.classpath
.settings
.idea
*.iml
/*.bsp/

/test_run_dir/

# Visual Studio Code
.bloop/
.metals/
.vscode/

# Generated code
input
log
out/
seeds/
*/__pycache__/
venv/
results/
coveragePlot.png
